<div class="container-fluid">
 <p class="h3 p-3">{{ vuelosDetail.airlineName }}</p>
 <div class="row">
   <div class="col-2">
     <div class="thumb">

     </div>
   </div>
   <div class="col">
     <dl>
       <dt>country</dt>
       <dd>{{ vuelosDetail.country }}</dd>
       <hr />
       <dt>city</dt>
       <dd>{{ vuelosDetail.city }}</dd>
       <hr />
       <dt>address</dt>
       <dd >{{ vuelosDetail.address }}</dd>
       <hr />
       <dt>slogan</dt>
       <dd >{{ vuelosDetail.slogan }}</dd>
       
     </dl>
   </div>
 </div>
</div>
